.container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 20px;
  right: 0;
  bottom: 0;
  z-index: 9999;
  color: black;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  height: 400px;
  width: 100%;
  max-width: 552px;
  background-color: white;
  max-height: 90%;
  overflow: initial;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 32px;
  margin: 0 auto;
}

.otp-field {
  width: 58px; /* ---------------   38px   */
  margin-right: 10px;
  padding-left: 12px;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.change-reset-btns:hover {
  background: #eee;
}
.change-reset-btns {
  color: #5a7db7;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin-top: 20px;
  margin-right: 80px;
}

.verify-btn {
  color: white;
  background-color: green;
  padding: 10px 50px 10px 50px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1em;
  margin-top: 30px;
}
